<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
</head>
<body>
    <h1>El título de nuestro documento</h1>
    <h2>Un subtitulo cualquiera</h2>
    <h4>Soy un h4</h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem at libero nobis mollitia laboriosam repellendus ipsum eligendi ea pariatur soluta quam repudiandae quis laudantium vel amet atque, totam voluptatem. Dolorem?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eos maxime ullam corrupti tenetur quam dolorum sed beatae fuga omnis eveniet minima cum voluptates, quisquam nulla sunt consequatur esse corporis.</p>
    
    <span>texto 1</span>
    <span>texto 2</span>
    <br>


    <!--cuando pongo una imagen, la ruta que tengo que dar es desde public porque en app.js le avise que todos los
recursos estaticos los tenia que buscar en esa carpeta-->

    <img src="images/agus.png" alt="imagen de Agus">

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <a href = 'http://www.google.com'>Ir a google</a>
</body>
</html>