/*Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

● Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    
}
/*HEADER*/
header{
    background-color:#EAC926 ;
}
.logo-barra{
    display:flex;
    padding:20px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:50%
}
.busqueda{
    width:50%;
   display:none;
   justify-content: flex-end;
}

#lupa{
    background-color: rgb(230, 227, 227);
    border-color: black;
    border-style:solid;
    border-width: 1px;
    padding:2px;
    margin-top: 2px;
}

.compra-cuotas{
    text-align: center;
}
nav{
    display:none
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black
}
ul, ol{
    padding: 0;
}
.burger-menu{
    text-align: center;
    background-color:#1259c3 ;
    color:white;
    padding:5px 0;
    border: 1px solid #1259c3;
    border-radius: 5px;
    max-width:30px;
    margin:auto;

}
.banner{
    width:100%;
    display:block
}
/*FIN HEADER*/

/*MAIN*/
main{
    background-color:#ebebeb ;
    margin:auto;
    width:90%
}
main section{
    margin:10px;
}
.titulares {
    font-size: 20px;
    margin-top: 10px;
}
.precio {
    font-size: 18px;
    width:30%
}
.descuento, .descripcion{
    font-size: 16px;
    width:70%
}
.descuento{
    color:#39b54a;
   text-align: center;
}
.descripcion{
    display:none;
    position:absolute;
    background-color: rgba(0,0,0,0.4);
    color:white;
    padding: 15px;
    margin: 0;
    right:0;
    bottom:0 ;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

main img{
    width:100%;
    margin:auto;
    display: block;

}
main article {
    margin:10px 0;
    position:relative;
    
}

/*ATENCION: SI PONEMOS POSITION ABSOLUTE, EL CONTENEDOR PADRE TIENE QUE DECIR POSITION RELATIVE*/
main section article i{
    font-size: 18px;
    color:#39b54a;
    padding:10px;
    border: #39b54a solid 1px;
    border-radius: 50%;
    background-color: #FFF;
    position:absolute;
    right:20px;
    top:-15px;
     

}
main section article:hover i{
transform:rotate(-90deg);
}

.caja-articulos{
    margin-top: 1px;
    border-top: solid #ebebeb 1px;
    padding:15px;
    background-color: white;
    position:relative
}
.precio-descuento{
    display:flex;
    justify-content:space-around ;
    margin-top: 15px;
}


/*FIN MAIN*/


/*FOOTER*/
footer{
    background-color: white;
    padding-top: 30px;
    text-align: center;
}
footer section i{
    color:#03264C;
    font-size: 18px;
}
footer section h3{
    font-weight: bold;
}
.copyright{
    text-align: left;
}

/*FIN*/
/*formularios*/
h2{
    margin:20px;
    padding: 20px;
    color:rgb(38, 38, 158)
}
.create-form{
    padding: 15px 20px
}
.form-field{
    margin-bottom: 15px;
}

.form-field label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
    font-size: 20px;
    color:rgb(38, 38, 158)
}
.form-input{
    width:100%;
    padding:8px;
}
.form-button{
    background-color: #39b54a;
    border:none;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.form-button:hover{
    background-color: #1e2029;
}

.form-checkbox{
    display:block;
}
.form-checkbox-inputs{
    display:flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    margin:20px 0
    

}

/*media queries*/
@media (min-width:361px){
    nav{
        display:block
    }
    main article{
         max-width: 45%;
    }
    main article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
       
        
    }
    /*cuando quiero hacer hover sobre una etiqueta pero el efecto va sobre otra, pongo el hover sobre el articulo por ejemplo y escribo el nombre de la clase descripcion que es la que llevara el efecto.*/
    main section article:hover .descripcion{
        display:flex
    }

    /*probar box shadow en https://www.cssmatic.com/box-shadow*/

    .burger-menu{
        display:none
    }
    main section{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    /*header*/
    .fila-superior{
        display: flex;
        align-items: center;
    }
    .logo{
        width:33%
    }
    .busqueda{
        width:33%;
       display:flex;
       justify-content: flex-end;
    }
    .fila-superior h3{
        width:45%
    }

    .navbar-completa{
        display:flex;
        justify-content: space-between;

    }
    .navbar-izq, .navbar-der{
        display:flex;
    }
    .navbar-completa li{
        margin: 0 5px;
    }
    .busqueda{
        display:flex
    }

}
@media (min-width:769px){
    main article {
        max-width: 22%;
    }
    .footer-parts{
        display:flex;
    
    }
    .footer-parts section{
        width:30%;
        padding:20px;
        line-height: 25px;
    }
    .footer-parts section p{
        font-size: 12px;
        color: grey;
    }
    .footer-parts section i:hover{
        color:#EAC926
    }
    
}

  