<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--con meta viewport podemos trabajar en forma responsive-->
    <meta name="viewport" content="width=device-width">
    <title>Proyecto Modulo 4</title>
   
    <!--vinculo la una fuente que saque de google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter&display=swap" rel="stylesheet">
    
    <!--vinculo la pagina de normalize que hace que pueda verse bien en cualquier dispositivo-->
    <link href="css/normalize.css" rel="stylesheet">
    
    <!--vinculo la pagina de estilo-->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <p class="oculto">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione obcaecati deserunt tempora fugit quis illum reprehenderit at maiores. Nobis nam dicta adipisci distinctio veniam at facilis neque libero nostrum nihil.
    </p>

    <article class='contenedor03'>
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum soluta beatae blanditiis ipsam debitis obcaecati, possimus cumque sit reiciendis porro esse tempore accusantium id a mollitia, quibusdam similique, eligendi ullam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet rerum aperiam error nobis voluptatem accusamus illo, impedit dolor exercitationem quos suscipit, beatae, rem nemo aliquam itaque dolorem adipisci ipsa. Impedit.</p>
        
    </article>


    <article class='contenedor01'>
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum soluta beatae blanditiis ipsam debitis obcaecati, possimus cumque sit reiciendis porro esse tempore accusantium id a mollitia, quibusdam similique, eligendi ullam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet rerum aperiam error nobis voluptatem accusamus illo, impedit dolor exercitationem quos suscipit, beatae, rem nemo aliquam itaque dolorem adipisci ipsa. Impedit.</p>
        <article class='contenedor02'>
            <h2>soy un contenedor 02</h2>
        </article>
    </article>
    <article class='contenedor02'>
        <h2>soy un contenedor 02</h2>
        <article class='contenedor01'>
            <h2>Soy un contenedor 01</h2>
    </article>


    <!--comento para que no se mezcle con la clase 13..

        <h1>Este es el titulo principal</h1>
    <h3 class='parrafo=destacado'>Un subtitulo</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus nesciunt sequi sunt placeat nisi voluptates quia deleniti aspernatur delectus esse, quos a iure, vero, sint ea necessitatibus? Ipsa, tenetur eos!</p>
    <p class='parrafo-destacado'>Lorem <em>soy cursiva mayuscula </em>ipsum dolor sit amet consectetur adipisicing elit. Quisquam repellendus, sunt id, nostrum officia enim architecto voluptas amet, pariatur consequuntur eaque ea tempore iure molestiae voluptatem doloribus cumque dolore magnam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam repellendus, sunt id, nostrum officia enim architecto voluptas amet, pariatur consequuntur eaque ea tempore iure molestiae voluptatem doloribus cumque dolore magnam?</p>
    <p>Lorem ipsum <strong>este es un texto en negrita </strong>dolor sit amet consectetur adipisicing elit. Quisquam repellendus, sunt id, nostrum officia enim architecto voluptas amet, pariatur consequuntur eaque ea tempore iure molestiae voluptatem doloribus cumque dolore magnam?</p>
    
    <strong>otro texto en negrita</strong>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>

    </ul>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>

    <img src="images/agus.png" alt='Imagen de Agus' width='50%'>
    <br>
    <a href='http://www.google.com'>Ir a Google</a>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam repellendus, sunt id, nostrum officia enim architecto voluptas amet, pariatur consequuntur eaque ea tempore iure molestiae voluptatem doloribus cumque dolore magnam?</p>-->
    
</body>
</html>