<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <header>
        <img class='logo'src='/images/logo-mercado-liebre.svg' ><br><br>

        <!--<p>Lugar para poner la barra de búsqueda</p> -->
       <input type="search" name='busqueda' width= 60% placeholder="Buscar Productos, Marcas, etc" size=50%>
        <br>
        <i id='lupa' class="fas fa-search"></i>
        
        <h3 class='compra-cuotas'><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
        <nav>
            <ul>
                <li><a href='#'>Ofertas</a></li>
                <li><a href ='#'>Tiendas Oficiales</a></li>
                <li><a href ='#'>Vender</a></li>
                <li><a href ='#'>Ayuda</a></li>
            </ul>
            <ul>
                <li><a href ='#'>Creá tu cuenta </a><i class="far fa-id-card"></i></li>
                <li><a href ='#'>Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href ='#'>Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <br>
        
     <img class='banner' src='images/img-home-banner.jpg'>
    </header>
    <main>
       
        <section>
            <h2 class = 'titulares'>Basado en tu última compra</h2>
                <article>
                    <img src='images/img-cafetera-moulinex.jpg'>
                    <div class='caja-articulos'>
                        <i class="fas fa-truck"></i>
                        <p class='precio'>$6.700</p>
                        <p class ='descuento'>40% OFF</p>
                        <p class='descripcion'><b>Cafetera Moulinex</b></p>
                    </div>
                </article>
                <article>
                    <img src='images/img-macbook-pro-2019.jpg'>
                    <div class='caja-articulos'>
                        <i class="fas fa-truck"></i>
                        <p class='precio'>$230.000</p>
                        <p class ='descuento'>20% OFF</p>
                        <p class='descripcion'><b>MacBook Pro 2019</b></p>
                    </div>
                </article>
                <article>
                    <img src='images/img-samsung-galaxy-s10.jpg'>
                    <div class='caja-articulos'>
                        <i class="fas fa-truck"></i>
                        <p class='precio'>$70.500</p>
                        <p class ='descuento'>10% OFF</p>
                        <p class='descripcion'><b>Samsung Galaxy S10</b></p>
                    </div>
                </article>
                <article>
                    <img src='images/img-tv-samsung-smart.jpg'>
                    <div class='caja-articulos'>
                        <i class="fas fa-truck"></i>
                        <p class='precio'>$23.200</p>
                        <p class ='descuento'>5% OFF</p>
                        <p class='descripcion'><b>SmartTv Samsung 43"</b></p>
                    </div>
                </article>
        </section>
        <section>
            <h2 class = 'titulares'>Sección de Ofertas</h2>
            <article>
                <img src='images/img-cafetera-moulinex.jpg'>
                <div class='caja-articulos'>
                    <i class="fas fa-truck"></i>
                    <p class='precio'>$6.700</p>
                    <p class ='descuento'>40% OFF</p>
                    <p class='descripcion'><b>Cafetera Moulinex</b></p>
                </div>
            </article>
            <article>
                <img src='images/img-macbook-pro-2019.jpg'>
                <div class='caja-articulos'>
                    <p class='precio'>$230.000</p>
                    <p class ='descuento'>20% OFF</p>
                    <p class='descripcion'><b>MacBook Pro 2019</b></p>
                </div>
            </article>
            <article>
                <img src='images/img-samsung-galaxy-s10.jpg'>
                <div class='caja-articulos'>
                    <i class="fas fa-truck"></i>
                    <p class='precio'>$70.500</p>
                    <p class ='descuento'>10% OFF</p>
                    <p class='descripcion'><b>Samsung Galaxy S10</b></p>
                </div>
            </article>
            <article>
                <img src='images/img-tv-samsung-smart.jpg'>
                <div class='caja-articulos'>
                    <i class="fas fa-truck"></i>
                    <p class='precio'>$23.200</p>
                    <p class ='descuento'>5% OFF</p>
                    <p class='descripcion'><b>SmartTv Samsung 43"</b></p>
                </div>
            </article>
        </section>

    </main>
    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con MercadoLiebre cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>No te gusta? Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque siempre estás protegid@</p>
        </section>
        <section>
            <h3 class='copyright' >Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            
        </section>

    </footer>
</body>
</html>