<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <h2>INGRESA A TU CUENTA</h2>
    <form action='#' method ='POST' class='create-form'>
            <div class='form-field'>
                <label>Usuario</label>
                <input type="text" name='user' class='form-input'placeholder='letras y numeros'>
            </div>
            <div class='form-field'>
                <label class="form-label">Contraseña</label>
                <input type="password" name='contraseña' class='form-input'placeholder='letras y numeros'>
            </div>
            <button class='form-button' type="submit">Enviar</button>

    </form>
</body>
</html>